/* Contact Page Styles */
.contact-page {
    background: radial-gradient(circle at 50% 50%, #0c4a52 0%, #041e21 100%);
    min-height: 100vh;
}

.contact-page-content {
    padding-top: 5rem;
    /* pt-20 */
}